.header{
    align-items: center;
   display: flex;
    background-color: aqua;
    height: 155px;
   
}
.header-name{
    margin: 0px;
    padding: 10px 10px;
    color: black;
    font-size: 90px;
    

}
.header-list {
    padding-left: 40px;
    display: block;
    justify-content: center;
    color: fuchsia;
    font-size: 40px;
}
li {
    list-style: none;
}

.main{
    font-size: 30px;
    background-color: blanchedalmond;
}
.link{
    padding-left: 40px;
    display: block;
    justify-content: center;
    color: fuchsia;
    font-size: 20px;
}
.footer{
    background-color: darkturquoise;
}


